@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --renk1:#08C040;
    --renk2:#B5ECC6;
    --renk3:#263238;
}

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    text-decoration: none;
  }

body {
    text-align: center;
    padding: 0px;
    margin: auto;
    background:linear-gradient(to right, white, rgb(165, 161, 161));
}

nav {
    height:70px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:10;
}

ul {
    margin: auto;
    height: 100%;
    width:33%;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;

}

ul > li {
    display: inline-block;
}

nav > ul > li > a {
    display: block;
    color: var(--renk1);
    font-size: 18px;
    letter-spacing: 5px;
    cursor: pointer;
    font-weight: 400;

}

nav > ul > li > a:hover {
    color: var(--renk3);
}

header {
    margin: auto;
    height:100vh;
    width:90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header > div {
    height:60%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#headerleft {
    width:50%;
}

#headerright {
    width:50%;
}

h1 {
    font-size:30px;
    letter-spacing: 3px;
    margin: auto;
    width:80%;
    color: var(--renk1);
    text-align: left;
}

p {
    font-size:15px;
    letter-spacing: 3px;
    margin: auto;
    margin-top: 20px;
    width:80%;
    color: var(--renk3);
    text-align: left;
}



#headerright > img {
    height:150%;
    width:auto;
    animation:myanimation 1500ms linear infinite;
}

div#logodiv {
    height:100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img#logo {
   margin: auto;
   height:150%;
   margin-left:-20px;
}

#links {
   width: 33%;
    margin-right: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    gap: 20px;
}

#links > button:nth-child(1) {

    background-color: transparent;
    color: var(--renk1);
    border: none;
    font-size: 16px;
    letter-spacing: 4px;
    padding: 5px;
    cursor: pointer;
}

#links > button:nth-child(1):hover {
    color: var(--renk3);
}

#links > button:nth-child(2) {
    background-color: var(--renk1);
    color: white;
    border: none;
    font-size: 16px;
    letter-spacing: 4px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#links > button:nth-child(2):hover {
    background-color: var(--renk3);

}

nav > ul > li > a:active {
    transform: translateY(5px);
}

button:active {
    transform: translateY(5px);
}

@keyframes myanimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }

  
}

span {
    color: var(--renk3);
}